#header-nav {
  background-color: #f6b319;
  /*padding: 0;*/
}

.navbar-brand h1{
  color:black;
  font-family: 'Lora', serif;
  font-size: 2em;
  text-transform: uppercase;
  font-weight: bold;
  text-shadow: 1px 1px 1px #222;
  letter-spacing: 3px;
  padding-left: 150px;  
  line-height: .75;
  margin-top: 0;
  margin-bottom: 0;

}

#nav-list a {
  color: black;
  text-align: center;
  margin:15px;
  font-size: 1.3em;
  letter-spacing: 2px;
  text-shadow: 1px 1px 1px black;
}

#nav-list a:hover {    
    /*opacity: 0.5;*/
    text-decoration: none;
    background-color:#f6a119; 
}

#nav-listsecond li{
  padding:3px;
}

#nav-listsecond button{
  font-size: 1.1em;
}

#dropdown-list{
  background-color: ghostwhite;
}

/*.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  font-size: 3em;
  font-family: Aclonica;
  letter-spacing: 2px;
}*/

/*.text-block {
  position: absolute;
  bottom:200px;
  right: 200px;
  background: rgb(0, 0, 0); 
  background: rgba(0, 0, 0, 0.5);
  color: #f1f1f1;  
}*/

/*@media (min-width: 200px){
  #second{
    padding-top: 100px;
  }
}*/

.hero-image {
  background-image: url("images/image.jpg");
  height: 760px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.hero-text {
  text-align: center;
  position: absolute;
  top: 300px;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: Aclonica; 
  background: rgb(0, 0, 0); 
  background: rgba(0, 0, 0, 0.5); 
  color: #f1f1f1; 
  width: 50%; 
  padding: 20px; 
  letter-spacing: 5px;
}

#bookbtn{
  margin-top: 50px;
}

.container{
  padding-top: 500px;
}

.hero-image .button{
  width:250px;
  border: none;
  outline: 0;
  display: inline-block;
  padding: 5px 25px;
  color: black;  
  cursor: pointer;
  font-size: 1.8em;
  font-family: 'Acme';
  letter-spacing: 3px;
  background-color: #f6b319;
  border-radius: 5px;
  
}

.hero-image .button:hover{
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.35),0 17px 50px 0 rgba(0,0,0,0.30);
}

.carousel-inner img {
    width:440px; 
    height: 300px;
    margin-left: 45px;
    margin-right: 5px;
    margin-top: 50px;
    /*padding: 40px;*/
  }

  .carousel-inner img:hover{
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.35),0 17px 50px 0 rgba(0,0,0,0.30);    
  }

  #demo{
    height: 450px;
    background-color: #D3D3D3;
    /*background: rgb(0, 0, 0); */
    background: rgba(0, 0, 0, 0.1); 
    width: 100%;
  }
  
  .carousel-control-prev,
  .carousel-control-next{
    bottom: -8%;
    position: absolute;
  }

  .carousel-control-prev{
    left: -6rem;
  }

  .carousel-control-next{
    right: 0.5rem;
    width:auto;
  }

  .carousel-control-prev-icon,
  .carousel-control-next-icon  {
    height: 30px;
    width: 30px;
  }

  .carousel-control-prev-icon:hover,
  .carousel-control-next-icon:hover{
    outline: black;
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 10%;
    border: 1px solid black;
  }

  img.ridge{
    border-style: ridge;
    border-radius: 5px;
    padding:15px;
    border-color: black;
  }

  #midtext{
    text-align: center;
    font-size: 30px;
    font-family: 'Lora', serif;
    font-weight: 5px;
    padding-top: 8px;
    /*padding-bottom: 2px;*/
    text-shadow: 1px 1px 1px #222;
  }

  /* footer section */

  footer {
    background: url('images/footer2.jpg');
    -webkit-background-size: cover;
    background-size: cover;
    background-position: center;
    /* color: #ffffff; */
    color: black;
    /* padding-top: 80px; */
    padding-bottom: 80px;
    height: 500px;
  }
  footer h2 {
    padding-bottom: 40px;
  }
  footer h3 {
    padding-top: 8px;
  }
  footer p {
    /* color: #ffffff; */
    color: black;
  }
  footer span {
    font-weight: bold;
    padding-left: 24px;
  }
  footer .ph, footer .address {
    padding-top: 12px;
    padding-bottom: 12px;
  }
  footer .fa {
    font-size: 12px;
    padding-right: 10px;
  }

  footer .row {
    text-align: center;
    padding-top: 70px;
  }
  
  /* social icon */
  .social-icon {
    padding: 0;
  }
  .social-icon li {
    list-style: none;
    display: inline-block;
    padding: 0;
  }
  .social-icon li a {
    background: #f0f0f0;
    border-radius: 50%;
    color: #5C5C5C;
    font-size: 16px;
    width: 48px;
    height: 48px;
    line-height: 48px;
    text-align: center;
    text-decoration: none;
    transition: all 0.4s ease-in-out;
    margin-top: 12px;
    margin-right: 16px;
    top: 0;
    position: relative;
    padding: 0;
  }
  .social-icon li a:hover {
    background: #F6D76B;
    top: 5px;
  }
  
  /* copyright section */
  #copyright {
    background: #343434;
    color: #ffffff;
    padding-top: 80px;
    padding-bottom: 80px;
    text-align: center;
  }
  #copyright p {
    color: #ffffff;
  }
  #copyright a {
    color: #ffffff;
  }
  #copyright a:hover {
    color: #FF0;
  }




  

